html{

    background-color: #1e2e35;
background-size:contain;

}

/* 0527追記 */

/*modal*/

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    }
    .start-btn{
    text-align: right;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    margin-top: -40px;
    align-items: center;
    text-align:center;
    padding: 10px;
    cursor : pointer;
    color: #aaaeff;
    background-color: #1e2e35;
    font-family: 'Darumadrop One', cursive;
    }
    .start-btn-silent{
        text-align: right;
        text-decoration: none;
        font-size: 1.8rem;
        color: #fff;
        margin-top: -40px;
        align-items: center;
        text-align:center;
        padding: 10px;
        cursor : pointer;
        color: #aaaeff;
        background-color: #1e2e35;
        font-family: 'Darumadrop One', cursive;
        }
    .modal-bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
    }
    .modal-box{
    background: #f45;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    text-align: center;
    }

/*ゲーム終了時のmodal*/

.modal-ending{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    }
    .modal-ending-bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
    }
    .modal-ending-box{
    background: #f90;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    text-align: center;
    }

.modal-loseing{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    }
    .modal-loseing-bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
    }
    .modal-loseing-box{
    background: #8a8;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    text-align: center;
    }


/*モーダル本体の指定 + モーダル外側の背景の指定*/
.damege-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #33dda7;
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .1s;
    box-sizing: border-box;
}

.bosssize{
width: 460px;
}

.boss{
    margin: 0 auto;
align-items: center;
text-align: center;
position: relative;
z-index: 1;
}

h1{
text-align:center;
font-size: 50px;
font-family: 'DotGothic16', sans-serif;
color: #FFFFFF;
padding: 3vh 0 0 0;
margin: 0;
}

h2{
text-align:center;
font-size: 20px;
font-family: 'DotGothic16', cursive;
color: #FFFFFF;
padding: 0;
margin: 0;
}

.commandtext{
    text-align:left;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Darumadrop One', cursive;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 18px;
}

.result_text{
    text-align:left;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Darumadrop One', cursive;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 18px;
}

.textboard {
    width: 50vw;
    min-width: 440px;
    max-width: 660px;
    height: 120px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #FFF;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #FFF inset;
    background-color: rgba(0,0,0,0.9);
    flex: auto;
}

.minitextboard {
    align-items: right;
    width: 7vw;
    min-width: 130px;
    max-width: 130px;
    margin-top: -170px;
    margin-left: auto;
    margin-right: 24vw;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'DotGothic16', cursive;
    letter-spacing: 0.12em;
    color: #FFF;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #FFF inset;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    position: relative;
}

.monsterhp {

    font-size: 4rem;
    font-family: 'DotGothic16', cursive;
    z-index: 3;
    position: relative;

}

#num1 {

    font-size: 4rem;
    font-family: 'DotGothic16', cursive;
    z-index: 3;
    position: relative;

}

.minitextboard2 {
    align-items: right;
    width: 7vw;
    min-width: 130px;
    max-width: 130px;
    margin-top: -170px;
    margin-right: auto;
    margin-left: 24vw;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'DotGothic16', cursive;
    letter-spacing: 0.12em;
    color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 4px #000 inset;
    background-color: #fff;
    z-index: 4;
    position: relative;
}

.playerhp {

    font-size: 4rem;
    font-family: 'DotGothic16', cursive;
    z-index: 3;
    position: relative;

}

#num2 {

    font-size: 4rem;
    font-family: 'DotGothic16', cursive;
    z-index: 3;
    position: relative;

}


.attack{
    cursor : pointer;
    font-size: 1.2rem;
    width: 200px;
    border-radius:10px;
    font-size: 50px;
    padding: 12px;
    padding-top: 0px;
    margin: 10px;
color: rgb(238, 255, 0);
background-color: rgb(255, 127, 80);
font-family: 'Darumadrop One', cursive;
}

.magic{
    cursor : pointer;
    font-size: 1.2rem;
    width: 200px;
    border-radius:10px;
    font-size: 50px;
    padding: 12px;
    padding-top: 0px;
    margin: 10px;
color: aqua;
background-color: blueviolet;
font-family: 'Darumadrop One', cursive;
}

.guard{
    cursor : pointer;
    font-size: 20px;
    width: 200px;
    border-radius:10px;
    font-size: 50px;
    padding: 12px;
    padding-top: 0px;
    margin: 10px;
color: rgb(58, 58, 58);
background-color: rgb(158, 176, 172);
font-family: 'Darumadrop One', cursive;
}

.controller
{
text-align:center;
padding: 20px;
flex-direction:column;
}

.manual{
    width: 50vw;
    min-width: 440px;
margin: 0 auto;
align-items: center;
text-align: left;
font-size: 19px;
font-family: 'DotGothic16', cursive;
color: #FFFFFF;
    padding: 6px 0 0 6px;
max-width: 600px;
}

.footer{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    font-size: 6px;
    font-family: 'DotGothic16', cursive;
    color: #FFFFFF;
    letter-spacing: 3px;
}

/* 以下がポップアップ表示のCSS */

body.open_popup {
    overflow: hidden;
}

.bg_onetime_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

body.open_popup .bg_onetime_popup {
    opacity: 1;
    visibility: visible;
}

.onetime_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    min-width: 500px;
    background-color: #fff;
}

.onetime_popup_title {
    position: relative;
    padding: 1em 80px;
    margin: 0px;
    background-color: #33dda7;
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
    font-size: 40px;
    font-family: 'Darumadrop One', cursive;
}

.onetime_popup_title_close {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.onetime_popup_title_close::before,
.onetime_popup_title_close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}
.onetime_popup_title_close::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.onetime_popup_title_close::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.onetime_popup_content {
    padding: 60px 30px;
    text-align: center;
    font-size: 100px;
    font-family: 'Darumadrop One', cursive;
}

/* モーダルテスト以下 */
/**

.modal{
display: none;
height: 100vh;
position: fixed;
top: 0;
width: 100vw;
z-index: 999999;
}
.close-btn{
    position: absolute;
    top: 100%;
    transform: translate(15%);
    width: 65%;
text-align: center;
text-decoration: none;
font-size: 1.8rem;
color: #666;
}
.modal-bg{
background: rgba(0,0,0,0.8);
height: 100vh;
position: absolute;
width: 100%;
}
.modal-box{
width: 100%;
padding: 16px;
position: absolute;
top: 50%;
left: 70%;
transform: translateX(-50%) translateY(-50%);
}

**/

@keyframes attack
{
from{
    transform: translateX(-5px) translateY(0px);
}
20%{
    transform: translateX(5px) translateY(0px);
}
40%{
    transform: translateX(-10px) translateY(-3px);
}
60%{
    transform: translateX(10px) translateY(0px);
}
80%{
    transform: translateX(-10px) translateY(0px);
}
to{
    transform: translateX(-5px) translateY(0px);
}
}

@keyframes magic
{
from{
    transform: translateX(0px) translateY(-5px);
}
20%{
    transform: translateX(0px) translateY(4px);
}
40%{
    transform: translateX(-1px) translateY(-6px);
}
60%{
    transform: translateX(0px) translateY(10px);
}
80%{
    transform: translateX(-10px) translateY(0px);
}
to{
    transform: translateX(-1px) translateY(0px);
}
}

@keyframes guard
{
from{
    transform: translateX(-1px) translateY(1px);
}
20%{
    transform: translateX(1px) translateY(1px);
}
40%{
    transform: translateX(-1px) translateY(-1px);
}
60%{
    transform: translateX(5px) translateY(0px);
}
80%{
    transform: translateX(-1px) translateY(0px);
}
to{
    transform: translateX(-1px) translateY(0px);
}
}

.attack_effect {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 6vh;
    left: 4vw;
    z-index: 4;
}

.magic_effect {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 6vh;
    left: 4vw;
    z-index: 4;
}

.guard_effect {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 6vh;
    left: 4vw;
    z-index: 4;
}

#attackimg img {
    display: none;
}
#magicimg img {
    display: none;
}
#guardimg img {
    display: none;
}

.musicbtn{
    margin-top: -40px;
    align-items: center;
    text-align:center;
    padding: 10px;
    cursor : pointer;
    color: #aaaeff;
    background-color: #1e2e35;
    font-family: 'Darumadrop One', cursive;
}

.musicbtn-b{
    margin-top: -40px;
    align-items: center;
    text-align:center;
    padding: 10px;
    cursor : pointer;
    color: #aaaeff;
    background-color: #1e2e35;
    font-family: 'Darumadrop One', cursive;
}